.success-msg{
    background-color:green;
}

.error-msg{
    background-color:red;
}

.form-section{
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



.my-form{
  margin: 0 0 2em 0;
  padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
        display: block;
}

.inner-form-row{
      margin: -1em 0 -1px -1em;
          border-bottom: solid 1px transparent;
          padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
        box-sizing: border-box;
        display: block;
}

.inner-form-row:after, .inner-form-row:before{
  content: "";
display: block;
clear: both;
height: 0;
}

.my-input-text{
  height: 2.75em;
      -webkit-appearance: none;
      background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: none;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    font-size: 11pt;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.65em;
}
